<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add your head content here -->
    <title>Delete Blog Post</title>
</head>

<body>
    <h1>Delete Blog Post</h1>
    <p>Are you sure you want to delete this blog post?</p>
    <form action="/delete/<%= blog._id %>" method="POST">
        <button type="submit">Yes, Delete</button>
        <a href="/blogs/<%= blog._id %>">Cancel</a>
    </form>
</body>

</html>
